@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url('./assets/graph.jpg');
}

table,
th,
td {
  padding: 10px;
}

tr {
  border-bottom: 1px solid gray;
  background-color: whitesmoke;
}

tr:nth-child(even) {
  background-color: rgb(230, 224, 224);
}

th {
  text-align: left;
  white-space: nowrap;
  text-transform: capitalize;
}

td {
  width: 80%;
  text-align: center;
}
